
/* Thread */

/* Message */

.msg {
	max-width: 100%;
	margin-left: 32px;
	color: $text-color;
}
.msg-root {
    margin-left: 0px;
}
.children {
    padding-left:20px;
}
.text {
	width: 100%;
	min-width: 200px;
	padding: 0px;
	margin: 0px;
    margin-bottom: 9px;
    overflow-wrap: break-word; /* !не хочу чтобы длинные ссылки распирали страницу */
}

/* Ссылка "раскрыть ветку" */ 

.expand {
	display: block;
	margin-bottom: 9px;
	padding-left: 16px;
	color: $text-color;
	text-decoration: none;
}
.expand:hover {
	color: $text-color;
}

/* Gray */

.text-gray {
	margin-bottom: 2px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: $text-gray-color;
	cursor: pointer;
}
.text-gray:hover {
	color: $text-color;
}
.msg-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.text-gray b {
    font-weight: normal;
}

/* Shlop */


/* Звёздочки */

u {
	text-decoration: none;
}
u:after {
	content: "●";
    font-family: verdana;
    color: rgb(241, 95, 95);
	font-size: 17px;
	margin-left: 3px;
	margin-right: 3px;
	text-decoration: none;
}

/* Иконки юзеров */

.ico {
	margin-bottom: -1px;
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: white;
	border: 1px solid rgb(141, 139, 135);
	border-radius: 2px 2px 2px 2px;
}
.text-gray .ico {
	border: 0;
	border: 1px solid $text-gray-color;
	background-color: inherit;
}
.text-gray:hover .ico {
	border: 1px solid $text-color;
}