
$text-color: #313e41;
$text-gray-color: #d8cdb5;

$browser-bg-color: #ffffff; // Белый, браузерно-стандартный цвет фона
$classic-bg-color: #d7cabb; // "Классик" цвет фона старой плазмы
$hanshin-bg-color: #F4E5D7; // "Харншин" новый более светлый

$text-color: #000000;
$text-gray-color: #8D7E6C;
